/* reset default styles */

header, footer, nav, root {
    display: block;
}

html, main, body, div, aside, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

h1, h2, h3, p, a {
    font-style: none;
    font-weight: normal;
    font-family: 'Roboto Mono';
}

@charset "UTF-8";

/* Top Navigation */

.topnavcontainer {
    
}

nav {
    width: 100%;
    height: 60px;
    display: flex;
    background: rgb(240,240,240);
}

nav a {
    width: 25%;
    padding: 20px 0 0 0;
    text-align: center;
    text-decoration: none;
    color: rgb(20,20,20);
    transition: all 0.3s ease-in-out;
}

nav a p:nth-child(1) {
    border-right: 1px solid black;
}

nav a:last-child p {
    border-right: 0px solid rgb(20,20,20);
}

nav a:hover {
    color: rgba(240,240,240,0.8);
    background: rgb(50,50,50);
}

main {
    background: pink;
}

/* Group2 Navigation */



/* Custom Styles */

img {
    width: 100%;
}

.sitename {
    width: 100%;
    font-size: 6vw;
}

.sitetagline {
    margin: 10% 0 0 0;
    width: 100%;
    font-size: 1.6vw;
}

body {
    background: rgb(230,230,230);
    transform: translateZ(0px);
}

.pgroup header {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    text-align: center;
}

/* Section Styles */

#group1 .sitename {
    top: calc(50% - 20px);
}

#group1 .reflection {
    position: relative;
}

#group1 .reflection:before {
    width: 100%;
    content: "beve.me";
    position: absolute;
    top: calc(50% + 16px);
    left: 0;
    transform: scaleY(-1);
}

#group1 .reflection:after {
    width: 100%;
    height: 60%; /*80px*/
    content: "";
    position: absolute;
    top: calc(50% + 38px);
    left: 0;
    transform: scaleY(-1);
    background: linear-gradient(to top, rgba(250,250,250,0.8), rgba(250,250,250,1) 60%);
}

#group2 .pback header {
    top: 25%;
}

#group2 .pbase {
    perspective: 1000px;
}

#group2 .pbase nav {
    width: 150px;
    height: 200px;
    position: absolute;
    /*background: rgb(250,250,250);*/
    box-shadow: 0 2px 2px rgb(10,10,10);
}

#group2 .pbase #homenav {
    top: 40%;
    left: calc(30% - 50px); /*75*/
    /*transform: rotateY(50deg);*/
}

#group2 .pbase #lessonsnav {
    top: 40%;
    left: calc(40% - 75px);
    transform: rotateY(45deg);
}

#group2 .pbase #practicenav {
    top: 40%;
    left: calc(60% - 75px);
    transform: rotateY(-45deg);
}

#group2 .pbase #contactnav {
    top: 40%;
    left: calc(70% - 75px);
    transform: rotateY(-50deg);
}

#group2 .pbase nav a {
    width: 100%;
    height: 100%;
}

#group2 .pfront header {
    position: relative;
    top: 75%;
}

#group4 {
    color: rgb(250,250,250);
}

#group4 #g4header {
    width: 100%;
    height: 40px;
    padding: 10px 0 10px 0;
    background: rgba(50,50,50,0.2);
}

#group5 .frame {
    display: flex;
    border: 100px solid black;
}

#group5 aside {
    width: 40%;
    color: whitesmoke;
    background: black;
}

#group5 .pbase {
    color: white;
    background: black;
    flex-flow: column;
    flex-grow: column;
    border: 100px solid black;
}

/* For Parallax Effect */

#group1 {
    z-index: 5;
}

#group1 .pbase {
    background: rgb(250,250,250);
}

#group2 {
    z-index: 3;
}

#group2 .pback {
    background: rgb(230,230,230);
}

#group3 {
    z-index: 4;
}

#group3 .pbase {
    background: rgb(250,250,250);
}

#group4 {
    z-index: 2;
}

#group4 .pdeep {
    background: rgb(230,230,230);
}

#group5 {
    z-index: 3;
}

#group5 .pbase {
    background: rgb(250,250,250);
}

#group6 {
    z-index: 2;
}

#group6 .pback {
    background: rgb(230,230,230);
}

#group7 {
    z-index: 3;
}

#group7 .pbase {
    background: rgb(250,250,250);
}

.parallaxcontainer {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-perspective: 300px;
    perspective: 300px;
}

.pgroup {
    height: calc(100% - 58px);
    position: relative;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.parallaxlayer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.pfront {
    -webkit-transform: translateZ(90px) scale(0.7);
    transform: translateZ(90px) scale(0.7);
    z-index: 1;
}

.pbase {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    z-index: 4;
}

.pback {
    -webkit-transform: translateZ(-300px) scale(2);
    transform: translateZ(-300) scale(2);
    z-index: 3;
}

.pdeep {
    -webkit-transform: translateZ(-600px) scale(3);
    transform: translateZ(-600px) scale(3);
    z-index: 2;
}