/* reset default styles */

header, footer, nav, root {
    display: block;
}

html, main, body, section, aside, div, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

/* Custom Styles */

body {
    background: rgb(240,240,240);
}

h1, h2, h3, p, a {
    font-style: none;
    font-weight: normal;
    font-family: 'Roboto Mono';
}

@charset "UTF-8";

/* Top Navigation */

.topnavcontainer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    box-shadow: 0 0 2px 0;
}

nav {
    width: 100%;
    height: 60px;
    display: flex;
    flex-flow: row;
    background: rgb(250,250,250);
}

nav a {
    width: 25%;
    padding: 20px 0 0 0;
    text-align: center;
    text-decoration: none;
    color: rgb(20,20,20);
    transition: all 0.3s ease-in-out;
}

nav a:hover {
    color: rgba(240,240,240,0.8);
    background: rgb(100,100,100);
}

#activenav {
    border-top: 10px solid rgb(150,150,250);
    padding: 10px 0 0 0
}

main {
    /*background: pink;*/
}

/* Group2 Navigation */



/* Custom Styles */


@media all and (max-width: 420px) {
}